Package: pulseaudio-steelseries-arctis-5
Version: 0.4.5
Maintainer: Eli n/a <elias222@protonmail.com>
Homepage: https://github.com/hermesboo/SSAPA
Architecture: all
Depends: pulseaudio, udev
Section: sound
Description: Pulseaudio configuration for the SteelSeries Arctis 5 forked from DemonTPx
